<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 3 demo</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>

    <div class="container pt-5" id="app">
        <div class="card center">
            <h1>{{ title }}: {{ counter }}</h1>
            <div>
                <button class="btn primary" v-on:click="counter++">Прибавить</button>
                <button class="btn danger" v-on:click="counter = counter - 1">Отнять</button>
            </div>
            <!-- <h2>inputValue: {{ inputValue }}</h2> -->
            <h1 :style="{
                color: inputValue.length > 5 ? 'red' : 'darkblue',
                fontSize: inputValue.length > 7 ? '2rem' : '1.5rem'
            }">{{ title2 }}</h1>
            <div class="btn-control">
                <input 
                    type="text" 
                    :placeholder="placeholderString"
                    v-model="inputValue"
                    @:keypress.enter="addNewNote"
                />
                <!-- вместо v-model можно было написать: v-bind:value="inputValue" v-on:input="inputChangeHandler" -->
                <!-- v-bind можно не писать, оставив только : вместо v-on можно писать @ -->
                <!-- v-on:keypress="inputKeyPress" -->
            </div>
            <button class="btn" v-on:click="addNewNote">Добавить</button>
            <hr/>
            <ul class="list" v-if="notes.length !== 0">
                <li class="list-item" v-for="(note, index) in notes">
                    <!-- <span :class="note.length > 5 ? 'primary' : 'bold'">( {{ index + 1 }} ) {{ toUpperCase(note) }}</span> -->
                    <!-- <span :class="{
                        'primary': true, 
                        'bold': note.length > 5
                    }">( {{ index + 1 }} ) {{ toUpperCase(note) }}</span> -->
                    <!-- если true, то будет добавлен всегда -->
                    <span :class="[
                        'bold',
                        {'primary': note.length > 5}
                    ]">( {{ index + 1 }} ) {{ toUpperCase(note) }}</span>
                    <button class="btn danger" v-on:click="removeNote(index, $event)">Удалить</button>
                </li>
            </ul>
            <!-- <div v-if="notes.length === 0">Заметок пока нет: введите первую</div> -->
            <!-- <div v-else-if="notes.length === 0">Заметок пока нет: введите первую</div> -->
            <div v-else class="nolist">Заметок пока нет: введите первую</div>
            <hr/>
            <div class="nolist">
                <strong>Общее количество: {{ notes.length }}</strong> | Удвоенное: {{ doubleCount() }} {{ doubleCountedCount }}<!--  | Утроенное: {{ tripleCount() }} -->
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>
</html>